<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1>Welcome!</h1>
      <p>Please sign up to be able to use our calculator and know your Body Mass Index category</p>
    </div>
  </div>
</div>
